@import "fonts";

/* Cabecera */
.header {
  .migas {
    text-shadow: 0 0 1px $negro;
    p {
      color: white;
      font-size: 1.4em;
    }
  }
  .flecha {
    a {
      font-size: 4em;
      padding: 10px;
      color: $azul_0;
      text-shadow: 0 0 2px $negro;
      &:hover {
          color: white;
      }
    }
    .icono-flecha {
      animation-duration: 2.3s;
      animation-delay: 5s;
      animation-iteration-count: infinite;
    }
  }
}

.bottom-align-text {
  position: absolute;
  bottom: 0;
  right: 0;
}
